.navbar{
    background-color: #A42323;
}

.line-up{
    position: absolute;
    width: 1441px;
    height: 110px;
    left: -1px;
    top: 574px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

    background: rgba(239, 224, 224, 0.53);
}

.jazz-image{
    width: 50px;
}

.title{
    position: absolute;
    width: 558px;
    height: 95px;
    left: 440px;
    top: 453px;

    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 91px;

    color: #FFFFFF;
}

.day-buttons{
    padding-top: 50px;
    justify-content: space-between;
}

.thursday-button, .friday-button, .saturday-button, .sunday-button{
    background-color: #EFE0E0;
    border-style: rgba(255, 165, 165, 0.564);
    width: 250px;
    height: 50px;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.events{
    padding: 50px;

}

.event-day{
    background-color: #E59F71;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 60px;
    margin-top: -17px;

}

.location, .explore-more{
    background-color: #8C5E58;
    height: 45px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.explore-more{
    margin-bottom: 60px;
    width: 1000px;
}

.explore-more-card{
    padding: 70px;
    border-style: none;
    align-items: center;
}

.explore-label{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #A42323;
}

.card-body-location{
    padding: 40px;
    height: 403px;
    background-color: #EFE0E0;
    font-weight: bold;
}

.card-body-event{
    padding: 15px;
    height: 270px;
}

.card{
    border: none;
}


.card-footer{
    background: white;
    border: none;
}


.date-box{
    position: absolute;
    width: 62px;
    height: 76px;
    left: 386px;
    top: 1037px;
}


.newsletter-box{
    padding: 70px;
    background-image: url("../img/jazz/backgrounds/sign-up-background.png");
    margin-bottom: 20px;
}

.newsletter-inner{
    padding: 30px;
    background-color: #9C3B8A;
    margin-bottom: 20px;
    color: white;
}

.day-pass{
    border: none;
    margin-left: 100px;
    align-content: center;
}

.day-pass-3{
    background-color: #A42323;
}

.day-pass-heading, .day-pass-subtitle{
    font-size: 25px;
    color: white;
    padding-left: 30px;

}


.recommended-events{
    padding: 100px;

}

.complete-day{
    align-items: center;
    background-color: #EFE0E0;
}

.rec-title{
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.navbar{
    background: linear(90deg, white 1%, #A42323 99%)
    
}

/*  FOOD */
.food-body{
    margin: 20px;
}
